.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

.pics{
  
  width: 200px;
  height: 200px;
  margin-top: 20px;
}

.container{
  display: flexbox;
 
  float: left;
  padding-left: 30px;
  justify-content: center;
}

.button{
  width: 60px;
  height: 20px;
  justify-content: center;
}